{% extends "../inicio.html" %}
{% load static %}

{% block contenidoQueCambia%}

    <div style="padding: 150px;">
        <ul>
            <li>{{user.username}}</li>
            <li>{{user.email}}</li>
            <li>{{user.first_name}}</li>
            <li>{{user.last_name}}</li>
        </ul>
        <button style="color: darkgrey;" id="bottone5"><a href="/App/perfil/editarPerfil/"></a>Editar perfil</button> 
        <button style="color: darkgrey;" id="bottone5"><a href="/App/perfil/changeAvatar/"></a> avatar</button> 

    </div>

{% endblock %}