{% extends "../inicio.html" %}
{% load static %}

{% block contenidoQueCambia%}

    <div style="padding: 150px;">
        <ul>
            <li>{{user.username}}</li>
            <li>{{user.email}}</li>
            <li>{{user.first_name}}</li>
            <li>{{user.last_name}}</li>
        </ul>
        <a href="/App/perfil/editarPerfil" id="bottone5" style="text-decoration: none; color: white;"> Editar Perfil</a>
        <a href="/App/perfil/changeAvatar" id="bottone5" style="text-decoration: none; color: white;"> Avatar</a>

    </div>

{% endblock %}