{% extends "App/inicio.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div style="padding: 150px;" class="info">
    <h3 style="color: darkgrey;"> UN POCO SOBRE MI </h3>

    <H6 style="color: darkgrey;"> Mi nombre es ivan villamarin tengo 21 años y vivo en General Alvear provincia de Buenos Aires.
        desde hace ya tiempo me interesa el mundo de la informatica, por lo que me llevo a estudiar programacion, ademas de eso 
        tambien tengo conocimientos en hardware y armado de computadoras. </H6>

    <h6 style="color: darkgrey;">Soy una persona trabajadora y con ganas de seguir aprendiendo</h6>
    <br>
    <br>


    <h2 style="color: darkgrey;"> Mis redes:</h2>
    <a href="https://www.instagram.com/ivanvillamarinn/">instagram</a>
    <br>
    <a href="https://www.linkedin.com/in/ivan-villamarin-36313b254/">Linkdin</a>



</div>
{% endblock %}