{% extends "App/inicio.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div style="margin-left: 0px;" class="info"> 
<h1>Foro de comentarios</h1>
    <h2>Comentarios:</h2>

    {% for comentario in comentarios %}
        <p style="color: darkgrey;">{{ comentario }}</p>
    {% endfor %}

    <h2 style="color: darkgray;">Agregar un comentario:</h2>
    <form method="post" action="">
        {% csrf_token %}
        <textarea name="nuevo_comentario" placeholder="escriba un comentario" rows="4" cols="50"></textarea>
        <br>
        <input id="bottone5" type="submit" style="color: darkgrey;" value="Enviar comentario">
    </form>
    <br>
    <br>
    <br>
</div>
{% endblock %}
