{% extends "App/inicio.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="titulo">
    <h1 style="padding: 100px;" style="color: darkgrey;" >Foro de comentarios</h1>
</div>

<div style="padding: 150px;" style="margin-left: 0px;" class="info"> 
    
    <h2 style="color: darkgrey;" >Comentarios:</h2>

    <div style="background-color: white;">
        {% for comentario in comentarios %}
        <p style="color: rgb(15, 15, 15);">{{ comentario.contenido }}</p>
        <p style="color: rgb(15, 15, 15);">Autor: {{ comentario.autor.username }}</p>
    {% endfor %}

    </div>
    

    <h2 style="color: darkgray;">Agregar un comentario:</h2>
    <form method="post" action="">
        {% csrf_token %}
        <textarea name="nuevo_comentario" placeholder="escriba un comentario" rows="4" cols="50"></textarea>
        <br>
        <input id="bottone5" type="submit" style="color: darkgrey;" value="Enviar comentario">
    </form>
    <br>
    <br>
    <br>
</div>
{% endblock %}
