<div> 
    {% extends "App/inicio.html" %}
    {% load static %}
    <div> 
        {% block contenidoQueCambia %}
        <div class="titulo"> 
            <h1 style="padding: 150px;">cursos</h1>
        </div>
        <div class="info">
            <h3 style="margin: 10px;"><p style="color: darkgrey;">info: Aqui se mostraran los cursos una vez comenzadas las clases</p></h3>
            <button id="bottone5"> <a style="color: white;" href="/App/inicio">volver a inicio</a></button>
        </div>
        {% endblock %}
    </div>
</div>