<div>
    {% extends "App/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <div class="titulo">
            <h1 style="padding: 150px" >Estudiantes</h1>
        </div>
        <div style="margin: 30px;" style="padding: 30px;" class="info">
            <h3><p>info: Admicion abierta para cualquier persona</p></h3> 
            <h3> <p> Puede inscribir al estudiante haciendo click en Inscribir estudiante </p> </h3> 
            <button id="bottone5"> <a style="color: white;" href="/App/setEstudiante">inscribir estudiante</a></button>  
        </div>
        <div>
            {% block setEstudiante %}
            {% endblock %}
        </div>
        <div style="margin: 30px;" style="padding: 30px;" >
            <h3>Estudiantes:</h3>
            <table id="tablaComp">
                <tr id="tablaEst">
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>eliminar</th>
                </tr>
                    {% for estudiante in Estudiantes %}
                    <tr>
                        <td>{{estudiante.nombre}}</td>
                        <td>{{estudiante.apellido}}</td>
                        <td>{{estudiante.email}}</td>
                        <td><button class="btn btn-danger"><a href="{% url 'eliminarEstudiante' estudiante.nombre %}">X</a></button></td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        {% endblock %}
</div>