<div>
    {% extends "App/profesor.html"%}
    {% load static %}

    {% block getProfesores %}
    <div class="info"> 
    <h3 style="margin: 10px;" >Buscar profesor:</h3>
    <form action="{% url 'buscarProfesor' %}" method="GET">
        <input  style="margin: 10px;" placeholder="profesor/a" type="text" name="nombre" id="nombre">
        <input style="color: white;" id="bottone5" type="submit" value="buscar">
    </form>
        {% if profesores %}
            {% for Profesor in profesores %}
                <li>{{Profesor.nombre}}</li>
                <li>{{Profesor.apellido}}</li>
                <li>{{Profesor.email}}</li>
            {% endfor%}
        {%endif%}  
    </div> 
    {% endblock %}
</div>