<!DOCTYPE html>

<html lang="en">

<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{% static 'AppEstilos/css/styles.css'%}" rel="stylesheet"/>  
    <link href="{% static 'AppEstilos/css/estilo.css'%}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="{% static 'AppEstilos/multi/escuela.ico'%}">
    <title>C.A.MICHEO</title>

</head>
<body>   
    <!-- header -->
    <nav class="navbar navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Colegio C.A.Micheo </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'cursos' %}">cursos</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'estudiantes' %}">estudiantes</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'profesores' %}">profesores</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'Logout' %}">logout</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'login' %}">login</a></li>
                    <li class="nav-item"><a class="nav-link navText" href=""><img src="{{avatar}}" width="30px" alt="perfil"></a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'perfil' %}">{{user.username}}</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'acercaDeMi' %}">acerca de mi</a></li>
                    
                </ul>
            </div>
        </div>
    </nav> 
    <div class="contenido">
        {% block contenidoQueCambia %}
        <div style="color: darkgray;" class="infoInicio">
            <p> 
                <br>
                <h3 style="padding: 150px"> Somos una institución que busca estar cerca de nuestros alumnos en cada una de sus etapas, porque consideramos que la educación es la herramienta para hacerle frente al futuro, por eso tiene que ser accesible, inmediata y creativa. 
                Pero sobre todo queremos ser parte de los más lindos recuerdos, una educación en familia es nuestra meta y camino. </h3>
                <br>
            </p>

            <h3> danos tu opinion </h3>
            <a href="/comentarios/"> comentar </a>
    
        </div>
        {% endblock %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>