<div>
    {% extends "App/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <div class="titulo">
            <h1 style="padding: 150px"> Profesores</h1>
        </div>
        <div class="info">
            <p><h3> INFO: Tenemos una cantidad de 10 profesores repartidos en 5 materias.</h3></p>
            <p> <h3> Puede buscar un profesor haciendo click en Buscar profesor.</h3></p>           
            <button id="bottone5"> <a style="color: white;" href="/App/getProfesores">Buscar profesor</a></button>                 
            
        </div>
        <div class="formgetProfesores">
            {% block getProfesores %}
            {% endblock %}
        </div>
        {% endblock %}
</div>