
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AppEstilos/css/styles.css'%}" rel="stylesheet"/>  
    <link href="{% static 'AppEstilos/css/estilo.css'%}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="{% static 'AppEstilos/multi/escuela.ico'%}">
    <title>REGISTRO</title>
</head>

<body>
    <form action="{% url 'registro'%}" method="post" class="form"> {% csrf_token %}
        <p id="heading">REGISTRO</p>
        {{ form.as_p }}
        
        <div class="btn">
            <button type="submit" class="button1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;registrar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
        <p style="color: white;"><a href="/App/login/">Login</a></p>
    </form>

</body>
</html>

